body {
    width: 80%;
    margin: auto;
    font-family: Verdana, Arial, sans-serif;
    background-color: #d7e9f0;
}
h1 {
    text-align: center;
    color: #070769f8;
    font-size: 44px;
    background-color: #9ea8e680;
    padding: 10px;
}
.center {
    text-align: center;
    font-size: 18px;
}
h2 {
    font-size: 22px;
    color: #070769f8;
    background-color:#9ea8e680;
    margin-bottom: 20px;
    border-bottom:3px solid;
    padding: 10px;
}
h3 {
    margin-bottom: 5px;
}
h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}
